<main class='d-flex flex-column'>
    <h1 class="text-white mb-3 display-3 fw-bolder">Github Warehouse</h1> <br>
    <div class=" d-flex flex-column">
        <input [(ngModel)]="searchUser" class="form-control m-auto rounded-pill fs-4 p-4   align-items-center" type="text" placeholder="Find a github user" aria-label="Search">  <br>
        <button (click)="search()"class="m-auto rounded-pill fs-4 p-3 align-items-center text-light btn btn-lg fw-bolder btn-outline-success"> Search User </button>
        <!-- <h1 class='text-white'>{{ searchUser}}</h1> -->
     </div>
    
</main>